<%- include('../../header.ejs') %>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog/displayblog" class="active">Blogs</a></li>
                            <li><a href="/admin/category/displaycategory">Categories</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Categories</h1>
                            </div>
                           
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>ID</th>
                                 <th>Category</th>
                             
                              
                                
                            </tr>
                          
                                   
                                <tr>
                                    <td><%= data._id %> </td>
                                    
                                    <td><%= data.category %></td>
                                    
                                   
                                  
                                </tr>

                     
                            
                           
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%= include('../../footer.ejs') %>